
  .openGUIButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .openGUIButton:hover {
    background-color: #2980b9;
  }
  
  .gui {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e74c3c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .closeButton:hover {
    background-color: #c0392b;
  }
  
  .titleLabel {
    display: block;
    margin-bottom: 10px;
  }
  
  .titleInput {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .imagesLabel {
    display: block;
    margin-bottom: 10px;
  }
  
  .enterButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2ecc71;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .enterButton:hover {
    background-color: #27ae60;
  }
  
  .blur {
    filter: blur(10px);
  }
  