.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the overlay */
    backdrop-filter: blur(10px); /* Apply blur to the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #36393F;
    height: 15vh;
    min-width: 220px;
    max-width: 80%; /* Adjust based on your design preferences */
    width: 500px; 
    border-radius: 30px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }

  .add_name_button {
    vertical-align: middle;
    right: 10%;
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    width: 50px;
    height: 50px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    float: right;
  }
  
  .add_name_button:hover {
    background-color: #2980b9;
  }

  .renameInput {
    margin-right: 28%;
    margin-left: 20%;
   
  }
  
  .close {
    float: right;
    cursor: pointer;
  }

  /* Styles for rename/add name category input */

  .renameInput {
    position: absolute;
    width: 65%;
    padding: 2%;
    border: 2px solid #3498db;
    border-radius: 8px;
    font-size: 150%;
    box-sizing: border-box;
  }
  
  input:focus {
    border-color: #3498db;
    outline: none;
  }

/* */







  