.subCategGroup {
    width: 90%;
    height: 100%;
    margin-top: 5.7rem;
    position: relative;
    display: block;
    left: 5%;
    
}

.subCateg {
    position: relative;
    width: 100%;
    height: 5%;
   
    text-align: left;
    cursor: pointer;
    
    
}
.subCateg:hover {
    background: #2A2B32;
}

.subCateg label {
    user-select: none;
    color: white;
    position: relative;
    font-family: 'Roboto', sans-serif;
    top: 10px;
    
}

.subCateg .bookLogo {
    height: 20px;
    position: relative;
    top: 13px;
    margin-right: 15px;
    margin-left: 15px;
    user-select: none;
}

